<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sn130041d.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sn130041d.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sn130041d</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sn130041d</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEP_Projekat.Models.Model1, IEP Projekat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sn130041d-east.database.windows.net;Initial Catalog=sn130041d-east;User ID=sn130041d;Password=Nemanjas5000;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=sn130041d-east.database.windows.net;initial catalog=sn130041d-east;user id=sn130041d;password=Nemanjas5000;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Model3" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEP_Projekat.Models.Model3, IEP Projekat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model21" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IEP_Projekat.Models.Model2, IEP Projekat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="Data Source=sn130041d-east.database.windows.net;Initial Catalog=sn130041d-east;User ID=sn130041d;Password=Nemanjas5000" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IEP_Projekat.Models.ApplicationDbContext, IEP Projekat" MigrationConfiguration="IEP_Projekat.Migrations.Configuration, IEP Projekat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sn130041d-east.database.windows.net;Initial Catalog=sn130041d-east;User ID=sn130041d;Password=Nemanjas5000</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model21-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model3-Web.config Connection String" />
  </ItemGroup>
</Project>